<!DOCTYPE html>
<html>
  <head>
    <title>BeerApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>
    <body>
    <%= yield %>
    </body>
</html>
